.catalog {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 40px;

    h1 {
        text-align: center;
        font-size: 40px;

    }
}



.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 380px;
    height: 582px;
    border: 1px solid rgba(163, 163, 218, 0.5);
}

.item-content {
    padding: 50px 44px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item-info {
    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

.item-btn-order {
    padding: 20px 40px;
    background-color: #FED84C;
    align-self: flex-start;
    border: none;
    border-radius: 8px;
}